<footer class="signup-sec">
  <div class="wrap">
    <h1>Sign up for Email Updates</h1>
    <form>
      <div class="input-boxex">
        <input type="text" placeholder="Name" />
        <input type="text" placeholder="Email" />
        <input type="text" placeholder="Phone No" />
      </div>
      <input type="button" value="Submit" class="submit-btn" />
    </form>


  </div>

  <div class="footer-menu-sec">
    <div class="wrap">
      <div class="left">
        <p><a href="#"><a href="#"><span>k</span>rishnaconsciousmatches</a>
          <!-- <img src="../assets/images/logo2.png" alt=""/> --></a>
        </p>
        <div class="socail-icon">
          <ul>
            <li class="title-heading">Follow Us :</li>
            <li><a href="#"><img src="../assets/images/fb.png" alt=""/></a></li>
            <li><a href="#"><img src="../assets/images/twitter.png" alt=""/></a></li>
            <li><a href="#"><img src="../assets/images/skype.png" alt=""/></a></li>
            <li><a href="#"><img src="../assets/images/icon4.png" alt=""/></a></li>
          </ul>
        </div>
      </div>
      <div class="right">
        <div class="top-menu">
          <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">FAQs  and Help </a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="bottom-menu">
          <ul>
            <li><a href="#">Privacy Policy  </a></li>
            <li>|</li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <p class="copyright-sec">Copyright © 2017 Kcmatches. All rights reserved.</p>
</footer>