<div class="clear-both"></div>
<div class="banner-section2">
      <div class="wrap">
        <h2>Enter your details</h2>
      </div>
    </div>
<div class="form-sec-register">
<div class="container">
<div class="alert alert-success" *ngIf="saveSuccess">
    <strong>Member added successfully!!</strong>
</div>
  <form action="" [formGroup]="basicForm" (ngSubmit)="addMember(2, basicForm.value)">
    <div class="first-section row" *ngIf="step_1">
      <input type="hidden" formControlName="member_id" [(ngModel)]="member_id" />
      <div class="col-md-12"><h3>Basic Details</h3></div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Name</label>
          <input type="text" class="form-control" formControlName="name" />
          <div class="error_message"
            *ngIf="basicForm.get('name').errors &&
                  basicForm.get('name').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Date of Birth</label>
          <div class="input-group input-medium date">
            <input type="text" class="form-control" ngbDatepicker #dob="ngbDatepicker" formControlName ="dob" readonly [minDate]="minDate">
            <span class="input-group-btn">
              <button class="btn default" type="button" (click)="dob.toggle()">
                  <i class="fa fa-calendar"></i>
              </button>
            </span>
        </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Email Id</label>
          <input type="text" class="form-control" formControlName="email" />
          <div class="error_message"
            *ngIf="basicForm.get('email').errors &&
                  basicForm.get('email').dirty">
              Please enter a valid email address
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Gender</label>
          <label class="form-check-inline">
            <input type="radio" class="" [value]="1" formControlName="gender"  [(ngModel)]="Male"/>Male 
          </label>
          <label class="form-check-inline">
            <input type="radio" class="" [value]="0" formControlName="gender" />Female
          </label>
          <div class="error_message"
            *ngIf="basicForm.get('gender').errors &&
                  basicForm.get('gender').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Create Profile For</label>
          <select class="form-control" formControlName="create_for">
            <option  [value]="null" selected>Select Profile For</option>
            <option *ngFor = "let status of create_for" [value]="status.id">{{ status.title }}</option>
          </select>
          <div class="error_message"
            *ngIf="basicForm.get('create_for').errors &&
                  basicForm.get('create_for').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Religion</label>
          <select class="form-control" formControlName="religion">
            <option  [value]="null" selected>Select Religion</option>
            <option *ngFor = "let status of religions" [value]="status">{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="basicForm.get('religion').errors &&
                  basicForm.get('religion').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Mother Tongue</label>
          <select class="form-control" formControlName="mother_tongue">
            <option  [value]="null" selected>Select Mother Tongue</option>
            <option *ngFor = "let status of mother_tongues" [value]="status" >{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="basicForm.get('mother_tongue').errors &&
                  basicForm.get('mother_tongue').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Your Community</label>
          <select class="form-control" formControlName="community">
            <option  [value]="null" selected>Select Community</option>
            <option *ngFor = "let status of community" [value]="status" >{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="basicForm.get('community').errors &&
                  basicForm.get('community').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Mobile Number</label>
          <span class="input-group-btn">+91</span>
          <input type="text" class="form-control" formControlName="mobile" />
          <div class="error_message"
            *ngIf="basicForm.get('mobile').errors &&
                  basicForm.get('mobile').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Your Marital Status</label>
          <select class="form-control" formControlName="marital_status">
            <option  [value]="null" selected>Select Marital Status</option>
            <option *ngFor = "let status of marital_status" [value]="status.id" >{{ status.title }}</option>
          </select>
          <div class="error_message"
            *ngIf="basicForm.get('marital_status').errors &&
                  basicForm.get('marital_status').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-md-12"><h4>You Live In </h4></div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Select Country</label>
          <select class="form-control" [(ngModel)]="selectedValue" formControlName="country" (change) = "getState($event.target.value)" >
            <option  [value]="null" selected>Select Country</option>
            <option *ngFor = "let status of countrys" [value]="status.id">{{ status.title }}</option>
          </select>
          <div class="error_message"
            *ngIf="basicForm.get('country').errors &&
                  basicForm.get('country').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Select State</label>
          <select class="form-control" formControlName="state" (change) = "getCity($event.target.value)">
            <option  [value]="null" selected>Select State</option>
            <option *ngFor = "let status of states" [value]="status.id">{{ status.title }}</option>
          </select>
          <div class="error_message"
            *ngIf="basicForm.get('state').errors &&
                  basicForm.get('state').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Select City</label>
          <select class="form-control" formControlName="city">
            <option  [value]="null" selected>Select City</option>
            <option *ngFor = "let status of cities" [value]="status.title">{{ status.title }}</option>
          </select>
        </div>
        <div class="error_message"
            *ngIf="basicForm.get('city').errors &&
                  basicForm.get('city').dirty">
              This field is required
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" [disabled]="!basicForm.valid" class="btn btn-primary" >Next</button>
      </div>
    </div>
  </form>
  <form action="" [formGroup]="educationForm" (ngSubmit)="addMember(3, educationForm.value)">
    <div class="first-section row" *ngIf="step_2">
        <input type="hidden" formControlName="member_id" [(ngModel)]="member_id" />
      <div class="col-md-12"><h3>Education Details </h3></div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Your Education Level</label>
          <select class="form-control" formControlName="education_level">
            <option  [value]="null" selected>Select  Education Level</option>
            <option *ngFor = "let status of education_level">{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="educationForm.get('education_level').errors &&
                  educationForm.get('education_level').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Your Education Field</label>
          <input type="text" class="form-control" formControlName="education_field" />
          <div class="error_message"
            *ngIf="educationForm.get('education_field').errors &&
                  educationForm.get('education_field').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Colleges You Attended</label>
          <input type="text" class="form-control" formControlName="college_attanded" />
          <div class="error_message"
            *ngIf="educationForm.get('college_attanded').errors &&
                  educationForm.get('college_attanded').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-md-12"><h4>Career Details </h4></div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">You work With</label>
          <select class="form-control" formControlName="working_with">
            <option  [value]="null" selected>Select you work </option>
            <option *ngFor = "let status of work_withs" [value]="status">{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="educationForm.get('working_with').errors &&
                  educationForm.get('working_with').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">As Designation</label>
          <input type="text" class="form-control" formControlName="designation" />
          <div class="error_message"
            *ngIf="educationForm.get('designation').errors &&
                  educationForm.get('designation').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Your Employer Name</label>
          <input type="text" class="form-control" formControlName="employer_name" />
          <div class="error_message"
            *ngIf="educationForm.get('employer_name').errors &&
                  educationForm.get('employer_name').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Your Annual Income</label>
          <input type="text" class="form-control" formControlName="annual_income" />
          <div class="error_message"
            *ngIf="educationForm.get('annual_income').errors &&
                  educationForm.get('annual_income').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-md-12 new-btns style">
        <button type="button" class="btn btn-default" (click)="showSteps(1)">Prev</button>
        <button type="submit" [disabled]="!educationForm.valid" class="btn btn-primary">Next</button>
      </div>
    </div>
  </form>
  <form action="" [formGroup]="spritualForm" (ngSubmit)="addMember(4, spritualForm.value)">
    <div class="first-section row" *ngIf="step_3">
        <input type="hidden" formControlName="member_id" [(ngModel)]="member_id" />
      <div class="col-md-12"><h3> Spiritual Details</h3></div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">How many rounds do you chant? </label>
          <input type="text" class="form-control" formControlName="chant_rounds" />
          <div class="error_message"
            *ngIf="spritualForm.get('chant_rounds').errors &&
                  spritualForm.get('chant_rounds').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Have you undergone any marriage councelling? </label>
          <input type="radio" class="" [value]="1" formControlName="undergone_marriage_counselling" />Yes 
          <input type="radio" class="" [value]="0" formControlName="undergone_marriage_counselling" />No
        </div>
        <div class="error_message"
          *ngIf="spritualForm.get('undergone_marriage_counselling').errors &&
                spritualForm.get('undergone_marriage_counselling').dirty">
            This field is required
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Are You Initiated ? </label>
          <input type="radio" class="" [value]="1" formControlName="initiated" />Yes 
          <input type="radio" class="" [value]="0" formControlName="initiated" />No
        </div>
        <div class="error_message"
          *ngIf="spritualForm.get('initiated').errors &&
                spritualForm.get('initiated').dirty">
            This field is required
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Who is your initiating Spiritual Master? </label>
          <input type="text" class="form-control" formControlName="initiating_spiritual_master" />
          <div class="error_message"
            *ngIf="spritualForm.get('initiating_spiritual_master').errors &&
                  spritualForm.get('initiating_spiritual_master').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Do you follow the regulative principles? </label>
          <input type="radio" class="" [value]="1" formControlName="regulative_principles" />Yes 
          <input type="radio" class="" [value]="0" formControlName="regulative_principles" />No
        </div>
        <div class="error_message"
          *ngIf="spritualForm.get('regulative_principles').errors &&
                spritualForm.get('regulative_principles').dirty">
            This field is required
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Do you have an active service in the temple or devotee community? </label>
          <input type="radio" class="" [value]="1" formControlName="active_service" />Yes 
          <input type="radio" class="" [value]="0" formControlName="active_service" />No
        </div>
        <div class="error_message"
          *ngIf="spritualForm.get('active_service').errors &&
                spritualForm.get('active_service').dirty">
            This field is required
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Which temple are you associated with? </label>
          <input type="text" class="form-control" formControlName="associated_temple" />
          <div class="error_message"
            *ngIf="spritualForm.get('associated_temple').errors &&
                  spritualForm.get('associated_temple').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Who is your Menter/Leader/Counseller</label>
          <input type="text" class="form-control" formControlName="menter" />
          <div class="error_message"
            *ngIf="spritualForm.get('menter').errors &&
                  spritualForm.get('menter').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-md-12 new-btns style">
        <button type="button" class="btn btn-default" (click)="showSteps(2)">Prev</button>
        <button type="submit" class="btn btn-primary" [disabled]="!spritualForm.valid">Next</button>
      </div>
    </div>
  </form>
  <form action="" [formGroup]="personalForm" (ngSubmit)="addMember(5, personalForm.value)">
    <div class="first-section row" *ngIf="step_4">
        <input type="hidden" formControlName="member_id" [(ngModel)]="member_id" />
        <input type="hidden" formControlName="profile_pic" [(ngModel)]="profile_pic" />
      <div class="col-md-12"><h3> Personal Details</h3></div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Your Height</label>
          <select class="form-control" formControlName="height">
            <option  [value]="null" selected>Select Your Height</option>
            <option *ngFor = "let status of heights" [value]="status.id">{{ status.feet }}ft {{ status.inches }}in - {{ status.centimeter }}cm</option>
          </select>
          <div class="error_message"
            *ngIf="personalForm.get('height').errors &&
                  personalForm.get('height').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Your Age</label>
          <select class="form-control" formControlName="age">
            <option  [value]="null" selected>Select Age</option>
            <option *ngFor = "let status of age" [value]="status">{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="personalForm.get('age').errors &&
                  personalForm.get('age').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Body Type</label>
          <select class="form-control" formControlName="body_type">
            <option  [value]="null" selected>Select Body Type </option>
            <option *ngFor = "let status of body_type" [value]="status.id" >{{ status.title }}</option>
          </select>
          <div class="error_message"
            *ngIf="personalForm.get('body_type').errors &&
                  personalForm.get('body_type').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Skin Tone</label>
          <select class="form-control" formControlName="skin_tone">
            <option  [value]="null" selected>Select Skin Tone</option>
            <option *ngFor = "let status of skin_tone" [value]="status.id">{{ status.title }}</option>
          </select>
          <div class="error_message"
            *ngIf="personalForm.get('skin_tone').errors &&
                  personalForm.get('skin_tone').dirty">
              This field is required
          </div>
        </div>
      </div>
    
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">About Myself</label>
          <textarea  formControlName="about" class="form-control"></textarea>
          <div class="error_message"
            *ngIf="personalForm.get('about').errors &&
                  personalForm.get('about').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Any Disability? </label>
          <input type="radio" class="" [value]="1" formControlName="disability" />Yes 
          <input type="radio" class="" [value]="0" formControlName="disability" />No
        </div>
        <div class="error_message"
            *ngIf="personalForm.get('disability').errors &&
                  personalForm.get('disability').dirty">
              This field is required
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Photo</label>
          <input type="file" #fileInput placeholder="Upload file..." formControlName="photo" (change)="upload()"/>
        </div>
      </div>
      <div class="col-md-12 new-btns style">
        <button type="button" class="btn btn-default" (click)="showSteps(3)">Prev</button>
        <button type="submit" class="btn btn-primary" [disabled]="!personalForm.valid">Next</button>
      </div>
    </div>
  </form>
  <form action="" [formGroup]="partnerForm" (ngSubmit)="addMember(0, partnerForm.value)">
    <div class="first-section row" *ngIf="step_5">
        <input type="hidden" formControlName="member_id" [(ngModel)]="member_id" />
      <div class="col-md-12"><h3>Life Partner Details</h3></div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="form-group">
          <label for="" class="col-form-label">Age From</label>
          <select class="form-control" formControlName="partner_age_from">
            <option  [value]="null" selected>Select Age</option>
            <option *ngFor = "let status of age" [value]="status">{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_age_from').errors &&
                  partnerForm.get('partner_age_from').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="form-group">
          <label for="" class="col-form-label">Age To</label>
          <select class="form-control" formControlName="partner_age_to">
            <option  [value]="null" selected>Select Age</option>
            <option *ngFor = "let status of age" [value]="status">{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_age_to').errors &&
                  partnerForm.get('partner_age_to').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="form-group">
          <label for="" class="col-form-label">Height From</label>
          <select class="form-control" formControlName="partner_height_from">
            <option  [value]="null" selected>Select Height</option>
            <option *ngFor = "let status of heights" [value]="status.id">{{ status.feet }}ft {{ status.inches }}in - {{ status.centimeter }}cm</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_height_from').errors &&
                  partnerForm.get('partner_height_from').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="form-group">
          <label for="" class="col-form-label">Height To</label>
          <select class="form-control" formControlName="partner_height_to">
            <option  [value]="null" selected>Select Height</option>
            <option *ngFor = "let status of heights" [value]="status.id">{{ status.feet }}ft {{ status.inches }}in - {{ status.centimeter }}cm</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_height_to').errors &&
                  partnerForm.get('partner_height_to').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Marital Status</label>
          <select class="form-control" formControlName="partner_marital_status">
            <option  [value]="null" selected>Select Marital Status</option>
            <option *ngFor = "let status of marital_status" [value]="status.id" >{{ status.title }}</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_marital_status').errors &&
                  partnerForm.get('partner_marital_status').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Mother Tongue</label>
          <select class="form-control" formControlName="partner_mother_tongue">
            <option  [value]="null" selected>Select Mother Tongue</option>
            <option *ngFor = "let status of mother_tongues" [value]="status">{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_mother_tongue').errors &&
                  partnerForm.get('partner_mother_tongue').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Spiritual Master</label>
          <input type="text" class="form-control" formControlName="partner_spiritual_master" />
          <div class="error_message"
            *ngIf="partnerForm.get('partner_spiritual_master').errors &&
                  partnerForm.get('partner_spiritual_master').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Spiritual Location</label>
          <input type="text" class="form-control" formControlName="partner_spiritual_location" />
          <div class="error_message"
            *ngIf="partnerForm.get('partner_spiritual_location').errors &&
                  partnerForm.get('partner_spiritual_location').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Spiritual Status</label>
          <input type="text" class="form-control" formControlName="partner_spiritual_status" />
          <div class="error_message"
            *ngIf="partnerForm.get('partner_spiritual_status').errors &&
                  partnerForm.get('partner_spiritual_status').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-md-12"><h4> Location Details</h4></div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Country Living In</label>
          <select class="form-control" formControlName="partner_country" (change) = "getParterState($event.target.value)">
            <option  [value]="null" selected>Select Country</option>
            <option *ngFor = "let status of countrys" [value]="status.id">{{ status.title }}</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_country').errors &&
                  partnerForm.get('partner_country').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">State Living In</label>
          <select class="form-control" formControlName="partner_state">
            <option  [value]="null" selected>Select State</option>
            <option *ngFor = "let status of partnerState" [value]="status.id">{{ status.title }}</option>
          </select> 
          <div class="error_message"
            *ngIf="partnerForm.get('partner_state').errors &&
                  partnerForm.get('partner_state').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-md-12"><h4>Education & Profession Details </h4></div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Education</label>
          <select class="form-control" formControlName="partner_education">
            <option  [value]="null" selected>Select  Education </option>
            <option *ngFor = "let status of education_level">{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_education').errors &&
                  partnerForm.get('partner_education').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Working With</label>
          <select class="form-control" formControlName="partner_working_with">
            <option  [value]="null" selected>Select Working With </option>
            <option *ngFor = "let status of work_withs">{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_working_with').errors &&
                  partnerForm.get('partner_working_with').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Profession Area</label>
          <select class="form-control" formControlName="partner_professional_area">
            <option  [value]="null" selected>Select Profession Area</option>
            <option *ngFor = "let status of Profession" [value]="status" >{{ status }}</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_professional_area').errors &&
                  partnerForm.get('partner_professional_area').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Annual Income From</label>
          <input type="text" class="form-control" formControlName="partner_annual_income_from" />
          <div class="error_message"
            *ngIf="partnerForm.get('partner_annual_income_from').errors &&
                  partnerForm.get('partner_annual_income_from').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Annual Income To</label>
          <input type="text" class="form-control" formControlName="partner_annual_income_to" />
          <div class="error_message"
            *ngIf="partnerForm.get('partner_annual_income_to').errors &&
                  partnerForm.get('partner_annual_income_to').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-md-12"><h4>Other Details</h4></div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Profile Created By</label>
          <select class="form-control" formControlName="partner_created_by">
            <option  [value]="null" selected>Select Profile Created By</option>
            <option *ngFor = "let status of create_for" [value]="status.id">{{ status.title }}</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_created_by').errors &&
                  partnerForm.get('partner_created_by').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="" class="col-form-label">Diet</label>
          <select class="form-control" formControlName="partner_diet">
            <option  [value]="null" selected>Select Diet</option>
            <option *ngFor = "let status of diet" [value]="status.id">{{ status.title }}</option>
          </select>
          <div class="error_message"
            *ngIf="partnerForm.get('partner_diet').errors &&
                  partnerForm.get('partner_diet').dirty">
              This field is required
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button type="button" class="btn btn-default" (click)="showSteps(4)">Prev</button>
        <button type="submit" class="btn btn-primary" [disabled]="!partnerForm.valid" >Finish</button>
      </div>
    </div>
  </form>
</div>